<!DOCTYPE html>
<html>
  <head>
    <title>FreeCodeCamp - Learn to Code for Free</title>
  </head>
  <body>
    <header>
      <%- include('../partials/main') %>
    </header>
    <main>
    </main>
  </body>
</html>
